<%- include('./partials/header') %>
<main>
  <div class="ui segment">
    <h1>Elemento TITULOOOOOO</h1>
    <p>Elemento TEXTOOOOOOO</p>
  </div>
</main>
<footer>
  <%- include('./partials/footer') %>
</footer>

</body>
</html>
