<%- include('./partials/header') %>
<main>
    <div class="ui segment">
        <h1>Rota mágica</h1>
        <p>Conheça a magia do Fortaleza</p>
    </div>
</main>
<footer>
    <%- include('./partials/footer') %>
</footer>

</body>
</html>