<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Biblioteca</h1>
  <p>
    Para guardar desde pedaços virtuais de papel até universos inteiros.
  </p>
</body>

</html>