<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Home</h1>
  <p>
    Onde é possível ver concentrar a imaginação em um só lugar. 
    Veja um resumo sobre sua biblioteca
  </p>
</body>

</html>